.dashboard-wrapper {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.hamburger-btn {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 30px;
  z-index: 2000;
  background: none;
  border: none;
  color: #1f2937;
  cursor: pointer;
}

/* Contenido */
.content {
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  background: url("../imagenes/background-dashboard.jpg") no-repeat center/cover;
  min-height: 100vh;
  transition: filter 0.3s;
}

.content.blur {
  filter: blur(2px);
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger-btn {
    display: block;
  }
  .content {
    margin-left: 0;
  }
}












