
.hero-section {
    width: 100vw;
}
.hero-contenido{
    
    padding: 127px 0px 30px 0px;
    background: url("../imagenes/banner2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 87.5vh;
    width: 100%;
    color: var(--text-color);
    padding-left: 56px;
   
}


.hero-contenido h1 {
   
    font-size: 4rem;
    font-weight: bold;
    color: transparent;
    background: linear-gradient(135deg, #CD7F32, #B08D57, #8C6239); /* Bronce metálico */
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7); /* Sombra para mayor realismo */
}

.hero-contenido p {
    font-size: 20px;
    font-weight: 600;
    margin: 70px 0;
    
}



.boton-contenedor{
    width: 396px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-hero {
    background-color: #CD7F32;
    border-radius: 18px;
    padding: 15px;
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.btn-hero:hover{
    background-color: rgb(255, 165, 0);
}