.navbar{
    font-size: 19px;
    background-color: black;
    color: white;
}
.nav-link{
    color: white;
}

.img-contenedor {
    width: 100px;
    
}
img{
    width: 100%;  /* Ajusta el tamaño según lo que necesites */
    height: 100%; /* El mismo tamaño que el ancho para mantenerlo cuadrado */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  
}