.servicio {
  padding: 90px 20px 60px;
}

.servicio-titulo h2 {
  font-size: 2.5rem;
}

.servicio-titulo p {
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
  color: #2e2f2f;
}

/* Responsivo */
@media (max-width: 992px) {
  .servicio-titulo h2 {
    font-size: 2.2rem;
  }
  .servicio-titulo p {
    font-size: 17px;
    line-height: 28px;
  }
}

@media (max-width: 576px) {
  .servicio-titulo h2 {
    font-size: 1.8rem;
  }
  .servicio-titulo p {
    font-size: 16px;
    line-height: 24px;
  }
}
